

<header>
		{% include ("partials/navbar.html.twig") %}
	<div class="banner d-flex justify-content-center">
		{# <img id="logo" src="{{asset('img/book_logo.png')}}" alt="logo book" class="img-fluid"> #}
		<h4 class="text-white fs-1 fw-bold mt-4">{{"Library"|trans}} {{"App Symfony"|trans}}</h4>
	</div>
	
</header>
