{% extends 'base.html.twig' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

	<div class="container text-white d-flex flex-column align-items-center gap-3 fs-2">
		<h1>{{ title }}</h1>
		{{ form(form) }}
		</div>
	{% endblock %}
